body {

background-color: #4d194d;
margin: 0;

}


header h1 {

display: flex;
justify-content: center;
align-items: center;
font-size: 6rem;
margin-bottom: 1rem;
color: #dee2e6;

    

}

section {

color: #dee2e6;
background-color: #4d194d;
height: 70vh;

}

.btns {
    display: flex;
    justify-content: center;
}

button {

margin: 1rem;
background-color: black;
color: #dee2e6;
cursor: pointer;
font-size: 3rem;

       
}


button:hover {
  
transform: scale(1.2);

}


#user-choice {

margin-left: 0.5rem;
color: white;
font-size: 2rem;

}

#computer-choice {

margin-left: 0.5rem;
color: white;
font-size: 2rem;

}
 


.chocie {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    font-size: 1.5rem;
    color: black;
}

.chocie h2 {

margin-right: 2rem;    


}

.score {

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    align-items: center;
    font-size: 1.5rem;
    color: yellow;
}

.scoreboard {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    font-size: 1.5rem;
}




footer {

background-color: #4d194d;
position: absolute;
bottom: 0;
left: 0;
color: #dee2e6;

}


